page-view {

.back{
    background-image: url('../../assets/imgs/calm3.jpg');
}
ion-card-header{
    background-color: rgb(199, 214, 243);
}

ion-card-content{
    background-color: rgb(189, 208, 245);
}


.b{
    width: 100%;
 
}

// h1{
//    text-align: center;
//    padding: 5%;
// }

}
